.card {
  position: relative;
  color: white;
  border-radius: 20px !important;
  overflow: hidden;
  flex-grow: 2;
  height: 300px;
  gap: 32px;
  
}
.card :hover {
  transition: all 0.3s ease;
  transform: scale(1.05);
}

.card-media {
  height: 100%;
  width: 100%;
  filter: brightness(80%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 16px;
}

.link {
  padding: 4px 8px;
  background-color: white;
  color: black;
  font-size: 16px;
  border-radius: 10px;
}
