.card-media {
  height: 100%;
  width: 100%;
  filter: brightness(80%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card-content {
  display: flex;
  flex: 2 1 auto;
  color: white;
  padding: 16px;
  border-radius: 20px;
}

.link {
  padding: 4px 8px;
  background-color: #292B30;
  color: black;
  font-size: 16px;
  border-radius: 10px;
}
