.card-media {
  height: 100%;
  width: 100%;
  filter: brightness(80%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card-content {
  display: flex;
  flex: 2 1 auto;
  color: white;
  min-height: 250px;
  border-radius: 14px;
}
