.button-group {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.custom-button {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: normal;
  border-radius: 50px;
  color: white;
  background-color: #292B30;
  transition: background-color 0.3s;
  flex-grow: 1;
  display: flex;
}

.custom-button:hover {
  background-color: #292B30;
}

.active-button {
  background-color: #F37516;
}

.active-button:hover {
  background-color: #F37516;
}